<%= form_for location do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lon %>
  </p>
  <p> 
	<%= f.label :description %><br />
	<%= f.text_field :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
