<%= form_for @location do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :lon %><br />
    <%= f.text_field :lon %>
  </p>
  <p> 
	<%= f.label :description %><br />
	<%= f.text_field :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
