<% title "Locations" %>
<div id="dialog" title="Basic dialog" style="display:none;">
	<%= render "form", :location => Location.new%>
</div>
<div id="map_canvas" style="width: 700px; height: 500px"></div> 


<table>
  <tr>
    <th>Lat</th>
    <th>Lon</th>
    <th>Description</th>
  </tr>
  <% for location in @locations %>
    <tr>
      <td><%= location.lat %></td>
      <td><%= location.lon %></td>
      <td><%= location.description %></td>
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Location", new_location_path %></p>

<% content_for(:javascript) do %>
locations = [];
<% @locations.each do |loc|%>
	locations.push(new google.maps.LatLng(<%=loc.lat%>, <%=loc.lon%>));
<%end%>
$(function() {
initialize_map(locations);	
});
<%end%>